<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <div class="text-center mb-5">
    <img
      src="../../../../assets/Road trip-rafiki.svg"
      alt="Image"
      height="200"
      class="mb-3"
    />
    <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
    <span class="text-600 font-medium line-height-3"
      >Don't have an account?</span
    >
    <a class="font-bold no-underline ml-2 text-green-500 cursor-pointer"
      >Create today!</a
    >
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
    <input
      id="email1"
      type="text"
      formControlName="email"
      placeholder="Email address"
      pInputText
      class="w-full mb-3"
    />
    <small
      class="text-red-600 block mb-2 font-bold"
      *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.dirty"
      >Invalid Email!</small
    >

    <label for="password1" class="block text-900 font-medium mb-2"
      >Password</label
    >
    <p-password
      inputId="password1"
      placeholder="Password"
      formControlName="password"
      inputStyleClass="w-full flex"
      styleClass="w-full flex"
      [feedback]="false"
      [toggleMask]="true"
    />
    <small
      class="text-red-600 block mt-2 font-bold"
      *ngIf="
        !loginForm.get('password')?.valid && loginForm.get('password')?.dirty
      "
      >Enter a password!</small
    >

    <button
      pButton
      [loading]="loginInProgress"
      [disabled]="!loginForm.valid"
      label="Sign In"
      type="submit"
      class="w-full bg-green-600 mt-3"
    ></button>
  </form>
</div>
