<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Welcome to car auction!</span>
      <div class="text-4xl text-green-600 font-bold mb-3">
        Find your dream car or auction off your ride today!
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Check out our featured auctions bellow or go to auctions for full list.
      </p>

      <button
        pButton
        pRipple
        label="Auctions"
        type="button"
        class="mr-3 p-button-success"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="https://images-porsche.imgix.net/-/media/7A5499F1DFF6404A9A7F6C4745CAD67F_D3B52EC1C89A4719A81BB35603657791_001-hero_13-5_intro?w=2500&q=85&auto=format"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>
