<div
  class="surface-card p-4 shadow-2 border-round w-full lg:w-7"
  *ngIf="auction"
>
  <div
    class="flex flex-wrap align-items-center justify-content-between gap-2 mb-3"
  >
    <span class="flex align-items-center gap-2 text-xl">
      <i class="pi pi-megaphone"></i>
      <span class="font-semibold">{{
        auction.year + " " + auction.make + " " + auction.model
      }}</span>
    </span>
  </div>
  <p-galleria
    [value]="auction.images"
    [containerStyle]="{ 'max-width': '100%' }"
    [numVisible]="5"
    [circular]="true"
    [showItemNavigatorsOnHover]="true"
    [showItemNavigators]="true"
    [visible]="fullscreen"
    [fullScreen]="fullscreen"
    (visibleChange)="toggleFullscreen($event)"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.url"
        class="w-12"
        [class.fullscreen]="fullscreen"
        (click)="toggleFullscreen(true)"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.url" height="80px" width="80px" />
      </div>
    </ng-template>
  </p-galleria>

  <div class="flex justify-content-between mt-3 align-items-center">
    <p-chip styleClass="bg-gray-800">
      <div class="p-2 text-white text-xl">
        <span class="text-500">Highest Bid: </span>${{ auction.price }}
      </div>
    </p-chip>

    <p-inplace
      [closable]="true"
      [disabled]="false"
      title="Please login to place a bid!"
      (onActivate)="onActivateBidMenu()"
      #inplace
    >
      <ng-template pTemplate="display">
        <span>Place Bid</span>
      </ng-template>
      <ng-template pTemplate="content">
        <p-inputNumber
          [(ngModel)]="bidPrice"
          inputId="bidPrice"
          #input
          [size]="10"
          mode="currency"
          currency="USD"
          [autofocus]="true"
          locale="en-US"
        >
        </p-inputNumber>
        <p-button icon="pi pi-check" (onClick)="placeBid()"></p-button>
      </ng-template>
    </p-inplace>
  </div>

  <p-table
    [value]="auctionTableData"
    [tableStyle]="{ 'min-width': '300px' }"
    styleClass="mt-4 mb-5"
  >
    <ng-template pTemplate="body" let-product>
      <tr>
        <th>{{ product.title | titlecase }}</th>
        <td>{{ product.value }}</td>
      </tr>
    </ng-template>
  </p-table>

  <span class="font-bold text-2xl">Comments & Bids</span>
  <div class="flex align-items-center gap-1 mt-4">
    <textarea
      [disabled]="!user"
      id="float-input"
      [placeholder]="user ? 'Comment' : 'Login to comment'"
      rows="2"
      cols="80"
      pInputTextarea
      [(ngModel)]="comment"
    ></textarea>
    <p-button
      [disabled]="!user"
      icon="pi pi-arrow-down"
      styleClass="bg-green-600 border-circle"
      (onClick)="addComment()"
    ></p-button>
  </div>
  <div class="flex flex-column mt-4" *ngIf="commentsAndBids.length">
    <div class="flex mb-4" *ngFor="let commentOrBid of commentsAndBids">
      <p-avatar
        [image]="
          commentOrBid.author?.avatar || '../../../../assets/user-128.svg'
        "
        styleClass="mr-2"
        size="large"
        shape="circle"
      ></p-avatar>
      <div class="flex flex-column ml-1 relative" style="flex: 1">
        <div>
          <span class="font-bold">{{
            commentOrBid.author?.name || "Anonymous"
          }}</span>
          <span class="font-normal ml-2">{{
            commentOrBid.timestamp | date : "| dd.MM, H:mm'h'"
          }}</span>
        </div>
        <p-button
          *ngIf="
            user?.uid &&
            commentOrBid.comment &&
            commentOrBid.author?.id === user?.uid
          "
          icon="pi pi-trash"
          styleClass="bg-red-600 absolute"
          [style]="{ right: '0px', bottom: '20px' }"
          severity="danger"
          (onClick)="deleteComment(commentOrBid)"
        ></p-button>
        <p class="mt-2" *ngIf="commentOrBid.comment">
          {{ commentOrBid.comment }}
        </p>
        <ng-container *ngIf="commentOrBid.bid">
          <p-chip styleClass="bg-gray-800 mt-2 border-round-sm">
            <div class="p-2 text-white">
              <span class="text-500">Bid: </span>${{ commentOrBid.bid }}
            </div>
          </p-chip>
        </ng-container>
      </div>
    </div>
  </div>
</div>
