@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeng/resources/primeng.css";

html {
  scrollbar-color: var(--green-600) #fafafa;
  scrollbar-width: thin;
}

html.dark {
  scrollbar-color: var(--green-600) black;
}
