@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/themes/md-light-indigo/theme.css";
@import "./assets/dark-theme.scss";

html {
  scrollbar-color: var(--green-600) #fafafa;
  scrollbar-width: thin;
}

html.dark {
  scrollbar-color: var(--green-600) black;
}
