<p-menubar [model]="items">
  <ng-template pTemplate="start" style="display: flex; align-items: center">
    <div class="flex align-items-center">
      <a routerLink="/home" class="hidden md:block">
        <img
          src="../../../assets/car-auction-high-resolution-logo-transparent.png"
          height="40"
          class="mr-2 cursor-pointer"
        />
      </a>
      <span class="p-input-icon-right">
        <i
          class="pi pi-times cursor-pointer font-bold text-red-600"
          *ngIf="searchQuery.length"
          (click)="onClearSearch()"
        ></i>
        <i class="pi pi-search" *ngIf="!searchQuery.length"></i>
        <input
          [(ngModel)]="searchQuery"
          (ngModelChange)="onSearch()"
          type="text"
          pInputText
          placeholder="Search"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <p-toggleButton
      class="ml-2"
      [(ngModel)]="darkMode"
      offIcon="pi pi-moon"
      onIcon="pi pi-sun"
      (onChange)="onThemeChange($event)"
    ></p-toggleButton>
  </ng-template>
</p-menubar>
